<div>
    <button id="btnReload" type="button" class="btn btn-primary">Reload</button>
</div>
<script type="text/javascript">
    $(function () {
        $('#btnReload').on('click', function (ev) {
            ev.preventDefault();

            nmd.page.reloadPage();

            return false;
        });
    });
</script>