@model namasdev.Web.JS.Sample.Models.ControlContainer
@{
    Model.PreMainHtml = @<text>
    <div class="btn-init-container pull-right">
        <button class="btn btn-sm btn-primary btn-init dropdown-toggle ml-2" type="button" data-toggle="dropdown" aria-expanded="false">Init</button>
        <div class="dropdown-menu">
            <button class="dropdown-item btn-init-item" data-error="0">Success</button>
            <button class="dropdown-item btn-init-item" data-error="1">Error</button>
        </div>
    </div>
    </text>;
}
@Html.Partial("_ControlContainer", Model)