@{
    ViewBag.Title = "UI Controls";
}
<h1>UI Controls</h1>

<div>
    <div class="card">
        <div class="card-header p-0">
            <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#clearControls">clearControls</button>
        </div>
        <div id="clearControls" class="collapse">
            <div class="card-body">
                <h6>Single form</h6>
                <div class="row">
                    <div class="col-sm-6">
                        <form id="form1">
                            <input type="hidden" value="hidden" />
                            <div class="form-group">
                                <label for="text1">Text</label>
                                <input id="text1" type="text" value="text" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="password1">Password</label>
                                <input id="password1" type="password" value="password" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="text1">Text area</label>
                                <textarea id="textArea1" class="form-control">text</textarea>
                            </div>
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="check1" checked>
                                <label class="form-check-label" for="check1">Check</label>
                            </div>
                            <div class="form-group form-radio">
                                <input type="radio" class="form-radio-input" id="radio1" checked>
                                <label class="form-radio-label" for="radio1">Radio</label>
                            </div>
                            <div class="form-group">
                                <div class="custom-file">
                                    <input type="file" id="file1" class="custom-file-input">
                                    <label class="custom-file-label" for="file1"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="select1">Select</label>
                                <select id="select1" class="form-control">
                                    <option>A</option>
                                    <option selected>B</option>
                                </select>
                            </div>
                            <button id="btnClear1" class="btn btn-primary">Clear</button>
                        </form>
                    </div>
                </div>
                <script type="text/javascript">
                    $('#btnClear1').on('click', function (ev) {
                        ev.preventDefault();
                        nmd.ui.controls.clearControls('#form1 input,#form1 textarea,#file1,#select1');
                        return false;
                    });
                </script>

                <h6 class="mt-3">Multiple forms</h6>
                <div class="row">
                    <div class="col-sm-6">
                        <form id="form2a" class="form2-class">
                            <input type="hidden" value="hidden" />
                            <div class="form-group">
                                <label for="text2a">Text</label>
                                <input id="text2a" type="text" value="text" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="password2a">Password</label>
                                <input id="password2a" type="password" value="password" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="text2a">Text area</label>
                                <textarea id="textArea2a" class="form-control">text</textarea>
                            </div>
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="check2a" checked>
                                <label class="form-check-label" for="check2a">Check</label>
                            </div>
                            <div class="form-group form-radio">
                                <input type="radio" class="form-radio-input" id="radio2a" checked>
                                <label class="form-radio-label" for="radio2a">Radio</label>
                            </div>
                            <div class="form-group">
                                <div class="custom-file">
                                    <input type="file" id="file2a" class="custom-file-input">
                                    <label class="custom-file-label" for="file2a"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="select2a">Select</label>
                                <select id="select2a" class="form-control">
                                    <option>A</option>
                                    <option selected>B</option>
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-6">
                        <form id="form2b" class="form2-class">
                            <input type="hidden" value="hidden" />
                            <div class="form-group">
                                <label for="text2b">Text</label>
                                <input id="text2b" type="text" value="text" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="password2b">Password</label>
                                <input id="password2b" type="password" value="password" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="text2b">Text area</label>
                                <textarea id="textArea2b" class="form-control">text</textarea>
                            </div>
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="check2b" checked>
                                <label class="form-check-label" for="check2b">Check</label>
                            </div>
                            <div class="form-group form-radio">
                                <input type="radio" class="form-radio-input" id="radio2b" checked>
                                <label class="form-radio-label" for="radio2b">Radio</label>
                            </div>
                            <div class="form-group">
                                <div class="custom-file">
                                    <input type="file" id="file2b" class="custom-file-input">
                                    <label class="custom-file-label" for="file2b"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="select2b">Select</label>
                                <select id="select2b" class="form-control">
                                    <option>A</option>
                                    <option selected>B</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
                <button id="btnClear2" class="btn btn-primary">Clear</button>
                <script type="text/javascript">
                    $('#btnClear2').on('click', function (ev) {
                        ev.preventDefault();
                        nmd.ui.controls.clearControls('.form2-class input,.form2-class textarea,.form2-class select');
                        return false;
                    });
                </script>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header p-0">
            <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#initAutopostback">
                initAutopostback
            </button>
        </div>
        <div id="initAutopostback" class="collapse">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6">
                        <form id="form3" action="UIControls" method="get">
                            <div class="form-group">
                                <label for="text3">Text</label>
                                <input id="text3" name="text3" type="text" value="@Request["text3"]" class="form-control autopostback" />
                            </div>
                            <div class="form-group">
                                <label for="text3">Text area</label>
                                <textarea id="textArea3" name="textArea3" class="form-control autopostback">@Request["textArea3"]</textarea>
                            </div>
                            <div class="form-group form-check">
                                <input id="check3" name="check3" type="checkbox" class="form-check-input autopostback" @{ if (Request["check3"] != null) { <text> checked</text> }}>
                                <label class="form-check-label" for="check3">Check</label>
                            </div>
                            <div class="form-group form-radio">
                                <input id="radio3" name="radio3" type="radio" class="form-radio-input autopostback" @{ if (Request["radio3"] != null) { <text> checked</text> }}>
                                <label class="form-radio-label" for="radio3">Radio</label>
                            </div>
                            <div class="form-group">
                                <div class="custom-file">
                                    <input id="file3" name="file3" type="file" class="custom-file-input autopostback">
                                    <label class="custom-file-label" for="file3"></label>
                                    @if (Request["file3"] != null)
                                    {<span>@Request["file3"]</span>}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="select3">Select</label>
                                <select id="select3" name="select3" class="form-control autopostback">
                                    <option></option>
                                    <option value="a" @{ if (Request["select3"] == "a") { <text> selected</text> }}>A</option>
                                    <option value="b" @{ if (Request["select3"] == "b") { <text> selected</text> }}>B</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header p-0">
            <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#showAlertControl">
                showAlertControl
            </button>
        </div>
        <div id="showAlertControl" class="collapse">
            <div class="card-body">
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header p-0">
            <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#clearAlertControl">
                clearAlertControl
            </button>
        </div>
        <div id="clearAlertControl" class="collapse">
            <div class="card-body">
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header p-0">
            <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#initMessageModals">
                initMessageModals
            </button>
        </div>
        <div id="initMessageModals" class="collapse">
            <div class="card-body">
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header p-0">
            <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#showErrorModal">
                showErrorModal
            </button>
        </div>
        <div id="showErrorModal" class="collapse">
            <div class="card-body">
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header p-0">
            <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#showSuccessModal">
                showSuccessModal
            </button>
        </div>
        <div id="showSuccessModal" class="collapse">
            <div class="card-body">
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header p-0">
            <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#showMessageModal">
                showMessageModal
            </button>
        </div>
        <div id="showMessageModal" class="collapse">
            <div class="card-body">
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header p-0">
            <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#showMessageConfirm">
                showMessageConfirm
            </button>
        </div>
        <div id="showMessageConfirm" class="collapse">
            <div class="card-body">
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header p-0">
            <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#initScrollFocus">
                initScrollFocus
            </button>
        </div>
        <div id="initScrollFocus" class="collapse">
            <div class="card-body">
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header p-0">
            <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#initBootstrapTooltips">
                initBootstrapTooltips
            </button>
        </div>
        <div id="initBootstrapTooltips" class="collapse">
            <div class="card-body">
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header p-0">
            <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#initBootstrapCustomFileInput">
                initBootstrapCustomFileInput
            </button>
        </div>
        <div id="initBootstrapCustomFileInput" class="collapse">
            <div class="card-body">
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header p-0">
            <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#resetBootstrapCustomFileInput">
                resetBootstrapCustomFileInput
            </button>
        </div>
        <div id="resetBootstrapCustomFileInput" class="collapse">
            <div class="card-body">
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header p-0">
            <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#loadCombo">
                loadCombo
            </button>
        </div>
        <div id="loadCombo" class="collapse">
            <div class="card-body">
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header p-0">
            <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#loadComboAjax">
                loadComboAjax
            </button>
        </div>
        <div id="loadComboAjax" class="collapse">
            <div class="card-body">
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header p-0">
            <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#initComboCascadeAjax">
                initComboCascadeAjax
            </button>
        </div>
        <div id="initComboCascadeAjax" class="collapse">
            <div class="card-body">
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header p-0">
            <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#initComboCascadeJson">
                initComboCascadeJson
            </button>
        </div>
        <div id="initComboCascadeJson" class="collapse">
            <div class="card-body">
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header p-0">
            <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#initPrintButton">
                initPrintButton
            </button>
        </div>
        <div id="initPrintButton" class="collapse">
            <div class="card-body">
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header p-0">
            <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#initInputFileButtons">
                initInputFileButtons
            </button>
        </div>
        <div id="initInputFileButtons" class="collapse">
            <div class="card-body">
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header p-0">
            <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#initInputFiltering">
                initInputFiltering
            </button>
        </div>
        <div id="initInputFiltering" class="collapse">
            <div class="card-body">
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header p-0">
            <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#initMultiSelect">
                initMultiSelect
            </button>
        </div>
        <div id="initMultiSelect" class="collapse">
            <div class="card-body">
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header p-0">
            <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#initSelectpickerAjax">
                initSelectpickerAjax
            </button>
        </div>
        <div id="initSelectpickerAjax" class="collapse">
            <div class="card-body">
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header p-0">
            <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#initDatePicker">
                initDatePicker
            </button>
        </div>
        <div id="initDatePicker" class="collapse">
            <div class="card-body">
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header p-0">
            <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#initNumeric">
                initNumeric
            </button>
        </div>
        <div id="initNumeric" class="collapse">
            <div class="card-body">
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header p-0">
            <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#initCharacterCounter">
                initCharacterCounter
            </button>
        </div>
        <div id="initCharacterCounter" class="collapse">
            <div class="card-body">
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header p-0">
            <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#initElapsedTime">
                initElapsedTime
            </button>
        </div>
        <div id="initElapsedTime" class="collapse">
            <div class="card-body">
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header p-0">
            <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#stopElapsedTime">
                stopElapsedTime
            </button>
        </div>
        <div id="stopElapsedTime" class="collapse">
            <div class="card-body">
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header p-0">
            <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#initTableCheckBoxSelection">
                initTableCheckBoxSelection
            </button>
        </div>
        <div id="initTableCheckBoxSelection" class="collapse">
            <div class="card-body">
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header p-0">
            <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#initTableOrdering">
                initTableOrdering
            </button>
        </div>
        <div id="initTableOrdering" class="collapse">
            <div class="card-body">
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header p-0">
            <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#initTableOrderLinkPOST">
                initTableOrderLinkPOST
            </button>
        </div>
        <div id="initTableOrderLinkPOST" class="collapse">
            <div class="card-body">
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header p-0">
            <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#initIframeModalsLinks">
                initIframeModalsLinks
            </button>
        </div>
        <div id="initIframeModalsLinks" class="collapse">
            <div class="card-body">
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header p-0">
            <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#initSessionTimeoutCheck">
                initSessionTimeoutCheck
            </button>
        </div>
        <div id="initSessionTimeoutCheck" class="collapse">
            <div class="card-body">
            </div>
        </div>
    </div>
</div>
