@{
    ViewBag.Title = "UI Forms";
}
<h1>UI Forms</h1>

<h4>setAntiForgeryTokenToData</h4>
<h4>createDataWithAntiForgeryToken</h4>
<h4>setAntiForgeryTokenToFormData</h4>
<h4>disableEnterSubmit</h4>

<h4>configJQueryValidationDates</h4>
<h4>initDisableOnSubmitButtons</h4>
<h4>setValidationSummaryVisibility</h4>