<div>
    <form id="frmTPV">
        <div class="form-row">
            <div class="form-group col-sm-6">
                <label for="txtTPV1">Password 1</label>
                <input id="txtTPV1" name="txtTPV1" type="password" class="form-control toggle-password-visibility" />
            </div>
            <div class="form-group col-sm-6">
                <label for="txtTPV2">Password 2</label>
                <input id="txtTPV2" name="txtTPV2" type="password" class="form-control" />
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    $(function () {
        nmd.ui.controls.initPasswordVisibility('#txtTPV2');
    });
</script>