<div class="row">
    <div class="col-sm-6">
        <form id="frmAPB" action="UIControls" method="get">
            <input type="hidden" name="section" value="apb" />
            <div class="form-group">
                <label for="txtAPBText">Text</label>
                <input id="txtAPBText" name="txtAPBText" type="text" value="@Request["txtAPBText"]" class="form-control autopostback" />
            </div>
            <div class="form-group">
                <label for="txtAPBTextarea">Text area</label>
                <textarea id="txtAPBTextarea" name="txtAPBTextarea" class="form-control autopostback">@Request["txtAPBTextarea"]</textarea>
            </div>
            <div class="form-group form-check">
                <input id="chkAPB" name="chkAPB" type="checkbox" class="form-check-input autopostback" @{ if (Request["chkAPB"] != null) { <text> checked</text> }}>
                <label class="form-check-label" for="chkAPB">Check</label>
            </div>
            <div class="form-group form-radio">
                <input id="rbAPB" name="rbAPB" type="radio" class="form-radio-input autopostback" @{ if (Request["rbAPB"] != null) { <text> checked</text> }}>
                <label class="form-radio-label" for="rbAPB">Radio</label>
            </div>
            <div class="form-group">
                <div class="custom-file">
                    <input id="fiAPB" name="fiAPB" type="file" class="custom-file-input autopostback">
                    <label class="custom-file-label" for="fiAPB"></label>
                    @if (Request["fiAPB"] != null)
                    {<span>@Request["fiAPB"]</span>}
                </div>
            </div>
            <div class="form-group">
                <label for="ddlAPB">Select</label>
                <select id="ddlAPB" name="ddlAPB" class="form-control autopostback">
                    <option></option>
                    <option value="a" @{ if (Request["ddlAPB"] == "a") { <text> selected</text> }}>A</option>
                    <option value="b" @{ if (Request["ddlAPB"] == "b") { <text> selected</text> }}>B</option>
                </select>
            </div>
        </form>
    </div>
</div>