@using namasdev.Web.JS.Sample.Models;
@{
    var selectList = new SelectList(Enumerable.Range(1, 10).Select(i => new SelectListItem { Text = $"Option {i}", Value = i.ToString() }), "Value", "Text");
}
<div>
    <div class="form-row">
        <div class="col-lg-4 col-md-6 mb-3">
            @Html.Partial("_ControlContainer", new ControlContainer
            {
                Title = "Multiselect (default selector)",
                MainHtml =
                    @<text>
                        <div class="form-group">
                            @Html.DropDownList("ddlMS1", selectList, "", new { id = "ddlMS1", @class = "form-control multiselect", multiple = "" })
                            <small class="text-muted">Select/Total label shown for more than 3 selected options</small>
                        </div>
                    </text>
            })
        </div>
        <div class="col-lg-4 col-md-6 mb-3">
            @Html.Partial("_ControlContainer", new ControlContainer
            {
                Title = "Multiselect (custom selector and options)",
                MainHtml =
                    @<text>
                        <div class="form-group">
                            @Html.DropDownList("ddlMS2", selectList, "", new { id = "ddlMS2", @class = "form-control", multiple = "" })
                            <small class="text-muted">Select/Total label shown for more than 5 selected options, custom messages</small>
                        </div>
                    </text>
            })
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        nmd.ui.controls.initMultiSelect('#ddlMS2', {
            maxIndividualOptions: 5,
            allSelectedText: 'Todos',
            countSelectedTextFormat: '{0} de {1}',
        });
    });
</script>