@using namasdev.Web.JS.Sample.Models;
<div>
    <div class="form-row">
        <div class="col-lg-4 col-md-6 mb-3">
            @Html.Partial("_ControlContainer", new ControlContainer
            {
                Title = "Character counter (default selector)",
                MainHtml = @<text>
                    <div class="form-group">
                        <textarea class="form-control character-counter"></textarea>
                    </div>
                </text>
            })
        </div>
        <div class="col-lg-4 col-md-6 mb-3">
            @Html.Partial("_ControlContainer", new ControlContainer
            {
                Title = "Character counter (default selector, with maxlength)",
                MainHtml = @<text>
                    <div class="form-group">
                        <textarea id="txtDP2" class="form-control character-counter" maxlength="100"></textarea>
                    </div>
                </text>
            })
        </div>
        <div class="col-lg-4 col-md-6 mb-3">
            @Html.Partial("_ControlContainer", new ControlContainer
            {
                Title = "Character counter (custom selector and options)",
                MainHtml = @<text>
                    <div class="form-group">
                        <textarea id="txtCC3" class="form-control"></textarea>
                    </div>
                </text>
            })
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        nmd.ui.controls.initCharacterCounter('#txtCC3', {
            limit: 100,
            renderTotal: false,
            countNewLineChars: false,
            counterWrapper: 'div',
            counterCssClass: 'text-center',
        });
    });
</script>