@using namasdev.Web.JS.Sample.Models;
<div>
    <div class="row">
        <div class="col-lg-4 col-md-6 mb-3">
            @Html.Partial("_ControlContainer", new ControlContainer
            {
                Id = "divET1",
                MainHtml = @<text>
                    Started: <span id="spET1Started">-</span><br />
                    Elapsed: <span id="spET1Elapsed">-</span>
                </text>,
            })
        </div>
        <div class="col-lg-4 col-md-6 mb-3">
            @Html.Partial("_ControlContainer", new ControlContainer
            {
                Id = "divET2",
                MainHtml = @<text>
                    Started: <span id="spET2Started">-</span><br />
                    Max. allowed: 1min<br />
                    Elapsed: <span id="spET2Elapsed">-</span>
                </text>,
            })
        </div>
    </div>
    <button id="btnETStart" class="btn btn-primary">Start</button>
</div>
<script type="text/javascript">
    $('#btnETStart').on('click', function () {
        var started = new Date();

        $('#spET1Started').text(nmd.format.formateDateTime(started));
        nmd.ui.controls.initElapsedTime('spET1Elapsed', started);

        $('#divET2').addClass('bg-success');
        $('#spET2Started').text(nmd.format.formateDateTime(started));
        nmd.ui.controls.initElapsedTime('spET2Elapsed', started, {
            minutesReachedValue: 1,
            minutesReachedCallback: function () {
                $('#divET2')
                    .removeClass('bg-success')
                    .addClass('bg-danger');
            }
        });
    });
</script>