<div class="row">
    <div class="col-sm-6">
        <form id="frmLC">
            <label for="ddlLC">Select</label>
            <select id="ddlLC" class="form-control">
                <option>A</option>
                <option selected>B</option>
            </select>
        </form>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        
    });
</script>